.about-container{
    background-color:#212529;
    height: 100%;
    min-height: 52rem;
    padding: 0 10%;
}

.about-container a{
color: red;
text-decoration: none;
}
.about-container a:hover{
color: rgb(223, 1, 1);

}
